.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 24px;
}
.programs-container{
    grid-template-columns: 3fr;
    order: 1;
}
.activities-container{
  position: sticky;
  top: 0;
    grid-template-columns: 1fr;
    order: 2;
    padding: 0px 18px 70px 18px;
}

@media only screen and (max-width: 600px){
.main-container{
    grid-template-columns: 1fr
}
.activities-container{
    order: 1;
    position: static;
    margin-top: 20px;
    padding-bottom: 30px;
} 
.programs-container{
    order: 2;
}
}
      
