.cards-container{
  display: grid;
  grid-template-columns: 3,1fr;
}
.card p small{
  margin: 0;
}
.card-body{
  position: relative;
}
.activities-container{
  margin-right: 0;
  margin-left: 40px;
}

.add-btn{
   width: 90%;
   border: none;
   border-radius: 8px;
 position: absolute; 
bottom: 10px;
}